model_config_list:{
    config:{
        name: "0_class",
        base_path: "/models/0_class",
        model_platform: "tensorflow"
    }
    config:{
        name: "1_class",
        base_path: "/models/1_class",
        model_platform: "tensorflow"
    }
    config:{
        name: "od_class",
        base_path: "/models/od_class",
        model_platform: "tensorflow"
    }
    config:{
        name: "pl_class",
        base_path: "/models/pl_class",
        model_platform: "tensorflow"
    }
}